body {
  background-color: #001632;
}

h1 {
  font-size: 3rem;
}

li {
  color: #001632;
}

li:not(:last-child) {
  border-bottom: 3px solid #001632;
}

h5, i {
  cursor: pointer;
}

.fa-chevron-up, .fa-chevron-down {
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

li:hover .fa-chevron-up, li:hover .fa-chevron-down {
  opacity: 1;
}

.fa-chevron-up:hover, .fa-chevron-down:hover {
  transform: scale(1.3);
}

li.completed > h5 {
  text-decoration: line-through;
  text-decoration-color: #dc3545;
}

.input-group {
  height: 50px;
}

input,
input::placeholder {
  color: #001632 !important;
}

@media screen and (min-width: 768px) {
  .container > div {
    width: 50%;
    margin: auto;
  }
}
