body {
  background-color: #001632;
}

h1 {
  font-size: 3rem;
}

li {
  cursor: pointer;
  color: #001632;
}

li:not(:last-child) {
  border-bottom: 3px solid #001632;
}

li.completed > h5 {
  text-decoration: line-through;
  text-decoration-color: #dc3545;
}

.input-group {
  height: 50px;
}

input,
input::placeholder {
  color: #001632 !important;
}