body {
  background-color: #001632;
}

h1 {
  font-size: 3rem;
}

li {
  cursor: pointer;
}

li:not(:last-child) {
  border-bottom: 3px solid #001632;
}

li.completed > h5 {
  text-decoration: line-through;
}
